<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>管理者トップ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_top.css') }}">
    </head>
    <body>
        <header class="admin_header">
            <div class="admin_header_left">
            <p class="admin_subtitle">でっかい</p>
            <h1>回覧板(管理者)</h1>
            </div>
            <a href="{{ url_for('admin.admin_logout') }}" class="admin_logout_btn">ログアウト</a>
        </header>

        <main class="main">
            <div id="wrap">
                <form action="/admin_report" method="GET">
                    <button type="submit" class="admin_report_btn" style="margin: 0 0 2rem 0;">レポート集計</button>
                </form>
                <a href="/admin_board_create" class="board_make">回覧板作成</a>
            </div>
        </main>
    </body>
</html>
