<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>でっかい回覧板管理者 - 投稿完了</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_completed.css') }}">
    </head>
    <body>
        <header class="header">
            <div class="title">
                <small>でっかい</small>
                <h1>回覧板</h1>
            </div>
            <div class="settings">
                <img src="https://cdn-icons-png.flaticon.com/512/3524/3524659.png" alt="設定" class="gear-icon">
            </div>
        </header>

        <main class="main">
            <div class="check_mark">✔</div>
            <p class="message">投稿完了しました！</p>
            <a href="admin_top.html" class="back-button">管理者トップページにもどる</a>
        </main>
    </body>
</html>
