<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>でっかい回覧板 - 回答投稿</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/answer.css') }}">
    </head>
    <body>
        <header class="header">
            <div class="logo_area">
                <a href="/top"><img src="/static/images/logo.png" class="logo" alt="ロゴ"></a>
                <span class="system_name">でっかい回覧板</span>
            </div>
            <div class="user_area">
                <span class="user_name">○○さん</span>
                <a href="/login" class="setting"><img class="setting_image" src="/static/images/setting_icon.png" alt="歯車アイコン"></a>
            </div>
        </header>

        <main class="main">
            <form action="#" method="post">
                <h2 class="form_title">投稿</h2>
                <p class="question">質問：〇〇〇〇〇〇〇〇〇〇〇</p>
                <textarea id="answer" name="answer" placeholder="回答："></textarea>
                <button type="submit">この内容で投稿する</button>
            </form>
        </main>

    </body>
</html>
