<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>でっかい回覧板 - 設定変更</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    </head>        
        <header class="header">
            <div class="logo_area">
                <a href="/top"><img src="/static/images/logo.png" class="logo" alt="ロゴ"></a>
                <span class="system_name">でっかい回覧板</span>
            </div>
            <div class="user_area">
                <span class="user_name">○○さん</span>
                <a href="/login" class="setting"><img class="setting_image" src="/static/images/setting_icon.png" alt="歯車アイコン"></a>
            </div>
        </header>

    <body>

    <main class="main">
        <h2 class="settings_title">設定変更</h2>
        <form class="settings_form">
            <div class="form_group">
                <label for="username">ユーザー名</label>
                <input type="text" id="username" name="username">
            </div>

            <div class="form_group">
                <label for="email">メールアドレス</label>
                <input type="email" id="email" name="email">
            </div>

            <div class="form_group">
                <label for="password">パスワード</label>
                <input type="password" id="password" name="password">
            </div>

            <div class="form_group">
                <label for="pref">現在移住している都道府県</label>
                <input type="text" id="pref" name="pref">
            </div>

            <div class="form_buttons">
                <button type="button" class="logout_button">ログアウトする</button>
                <button type="submit" class="submit_button">変更する</button>
            </div>
        </form>
    </main>
    </body>
</html>
