<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">

</head>
<body>
    <header class="header">
        <div class="logo_area">
            <a href="/top"><img src="/static/images/logo.png" class="logo" alt="ロゴ"></a>
            <span class="system_name">でっかい回覧板</span>
        </div>
        <div class="user_area">
            <span class="user_name">○○さん</span>
            <a href="/setting" class="setting"><img class="setting_image" src="/static/images/setting_icon.png" alt="歯車アイコン"></a>
        </div>
    </header>
    <main>
        <div id="notice_area">
            <!-- 回覧板が届いているときだけ表示 -->
             {% if has_board %}
             <a id="open_answer" href="/answer">回覧板が届いています！</a>
             {% endif %}
        </div>

        <div id="japan_map">
            {% include 'map-full.svg' %}
        </div>

        <div id="hover-instruction">
            回覧板を見たい都道府県をクリックしてね！
        </div>

        <!-- モーダル -->
    </main>
    
    <script src="{{ url_for('static', filename='js/top.js') }}"></script>

</body>
</html>