body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f3ee;
  color: #5d7335;
  height: 100vh;
}

/* admin_header */
.admin_header {
    background-color: #6b7f3e;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin_header_left .admin_subtitle {
    margin: 0;
    font-size: 12px;
}

.admin_header_left h1 {
    margin: 0;
    font-size: 28px;
}

.admin_logout_btn {
    background-color: #dd2015;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px); /* ヘッダーの高さを引く */
  text-align: center;
}

.check_mark {
  font-size: 180px;       /* 大きいチェックマーク */
  color: #6b7f3e;          /* 緑色 */
  margin-bottom: 20px;
  line-height: 1;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(-20deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.message {
  font-size: 20px;
  margin: 20px 0;
}


.back_button:hover {
  background-color: #5a6c32;
}
