body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f3ee;
    color: #5d7335;
    height: 100vh;
}

/* ヘッダー */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C8040;
    color: #fff;
}
.logo_area{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo{
    height: 6.3rem;
    padding: 0 0 0 1rem;
    aspect-ratio: 1/1;
}
.system_name{
    font-size: 2rem;
    font-weight: bold;
}
.user_area{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.user_name{
    font-size: 1.5rem;
}
.setting img{
    height: 3.5rem;
    padding: 0.6rem 2rem 0 0;
}
.setting img:hover{
    opacity: 0.5;
    transition: 0.4s;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 80px); 
    text-align: center;
}

.check_mark {
    font-size: 180px;       /* 大きいチェックマーク */
    color: #6b7f3e;          /* 緑色 */
    margin-bottom: 20px;
    line-height: 1;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.3) rotate(-20deg);
    }
    60% {
        opacity: 1;
        transform: scale(1.1) rotate(5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.message {
    font-size: 20px;
    margin: 20px 0;
}


.back_button:hover {
    background-color: #5a6c32;
}
