/* 元から備わっているパスワード表示非表示は最初しか出ないため、
自前のアイコンその動きができるようにするためのコードです */
/* Edge / IE の場合 */
::-ms-reveal {
  display: none;
}

/* Chrome / Safari の場合 */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}



body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background-color: #f8f9f4;
    padding: 40px;
    text-align: left;
    color: #5f7736;
}

.header h1 {
    font-size: 48px;
    margin: 0;
}

.register-container {
    background-color: #6b7f3e;
    padding: 0 20px;
    height: calc(90vh - 80px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

label {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
}
select {
    padding: 10px 15px;
    font-size: 18px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    appearance: none; /* ブラウザのデフォルト矢印を消す（必要に応じて） */
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0; /* inputと統一感を出す場合 */
    box-sizing: border-box;
}

button {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #5f7736;
    font-size: 20px;
    padding: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* パスワード */
.password_wrapper {
    position: relative;
}

.password_wrapper input {
    width: 100%;
    padding-right: 30px; /* アイコン分の余白 */
    box-sizing: border-box;
}

.toggle_password {
    position: absolute;
    right:10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
    user-select: none;
}


/* 登録済み */
.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #ffffff;           /* フォーム背景が濃い緑なので白文字 */
    font-size: 18px;
    text-decoration: underline;
    transition: opacity 0.3s;
}

.login-link a:hover {
    opacity: 0.8;
}
