body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f3ee;
    color: #5d7335;
    height: 100vh;
}
/* ヘッダー */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C8040;
    color: #fff;
}
.logo_area{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo{
    height: 6.3rem;
    padding: 0 0 0 1rem;
    aspect-ratio: 1/1;
}
.system_name{
    font-size: 2rem;
    font-weight: bold;
}
.user_area{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.user_name{
    font-size: 1.5rem;
}
.setting img{
    height: 3.5rem;
    padding: 0.6rem 2rem 0 0;
}
.setting img:hover{
    opacity: 0.5;
    transition: 0.4s;
}

/* main */
.main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings_title {
        font-size: 28px;
        margin-bottom: 40px;
        text-align: left;
        width: 60%;
        margin: 0 auto 40px auto; /* 左寄せ + 中央余白調整 */
}

.settings_form {
    width: 700px;
    max-width: 90%;
}

.form_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.form_group label {
    width: 35%;
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.form_group input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #6b7f3e;
    color: white;
}

.form_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logout_button,
.submit_button {
    width: 48%;
    padding: 14px;
    background-color: #6b7f3e;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.logout_button:hover,
.submit_button:hover {
    background-color: #5a6c32;
}
