body{
    margin: 0;
    height: 100%;
    background-color: #F3F4F0;
}
main{
    position: relative;
}

/* ヘッダー */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C8040;
    color: #fff;
}
.logo_area{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo{
    height: 6.3rem;
    padding: 0 0 0 1rem;
    aspect-ratio: 1/1;
}
.system_name{
    font-size: 2rem;
    font-weight: bold;
}
.user_area{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.user_name{
    font-size: 1.5rem;
}
.setting img{
    height: 3.5rem;
    padding: 0.6rem 2rem 0 0;
}
.setting img:hover{
    opacity: 0.5;
    transition: 0.4s;
}



/* 47都道府県 */
#japan_map{
    width: 100%;
    margin: 1rem 0 0 0;
}
.geolonia-svg-map{
    width: 100%;
    height: 43.5rem;
}

.geolonia-svg-map .prefecture{
    fill: #c6ee6f;
    stroke: #666666;
    cursor: pointer;
}

.geolonia-svg-map .boundary-line{
    stroke: #999999;
}



/* 地図下のテキスト */
#hover-instruction {
  position: absolute;
  bottom: 5vh;
  right: 4vw;
  font-size: 1.4rem;
  color: #6C8040;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px dotted red;
}



/* モーダル全体の背景 */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* モーダル非表示時 */
.modal.hidden {
    display: none;
}

/* モーダルの中身 */
.modal-content {
    background-color: white;
    padding: 2rem 2.5rem;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge用 */
}

/* 閉じるボタン */
.close-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem; /* ← ここを -0.8rem や 0 に */
    width: 2.5rem;
    height: 2.5rem;
    background-color: #F45B69;
    color: white;
    border-radius: 50%;
    font-size: 1.6rem;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.close-button:hover {
    color: #d53a4f;
}

/* 回覧板画像エリア */
#board-image-container img {
    max-width: 100%;
    height: auto;
}

/* 回覧板がない場合のテキスト */
#board-image-container p {
    font-size: 1.2rem;
    color: #444;
}

