body{
    margin: 0;
    height: 100%;
    background-color: #F3F4F0;
}

/* ヘッダー */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C8040;
    color: #fff;
}
.logo_area{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo{
    height: 6.3rem;
    padding: 0 0 0 1rem;
    aspect-ratio: 1/1;
}
.system_name{
    font-size: 2rem;
    font-weight: bold;
}
.user_area{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.user_name{
    font-size: 1.5rem;
}
.setting img{
    height: 3.5rem;
    padding: 0.6rem 2rem 0 0;
}
.setting img:hover{
    opacity: 0.5;
    transition: 0.4s;
}